.fourth-block {
  padding: 20px 0 0 0;
  position: relative;
  color: white;
  background: linear-gradient(254.72deg, rgba(255, 255, 255, 0.276) -114.85%, rgba(255, 255, 255, 0) 69.04%), url(img/D-flying.svg) no-repeat top center, url(img/D-footer.svg) no-repeat bottom right, #040613;
}
.fourth-block__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
  margin: 0 0 20px 0;
}
.fourth-block__cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fourth-block__card {
  height: 106.375px;
  width: 45%;
  box-sizing: content-box;
  border-left: 3px solid #f14d34;
  padding-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.8571px;
  margin: 0 0 25px 0;
}
.fourth-block__card span {
  opacity: 0.7;
}

@media screen and (min-width: 767px) {
  .fourth-block__container {
    display: flex;
    align-items: flex-end;
  }
  .fourth-block__content {
    flex-basis: 50%;
    flex-direction: unset;
    padding: 197px 50px 173px;
  }
  .fourth-block__title {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
  }
  .fourth-block__cards {
    flex-direction: unset;
    justify-content: space-between;
  }
  .fourth-block__card {
    font-size: 16px;
    line-height: 22.8571px;
  }
  .fourth-block img {
    position: absolute;
    left: 0;
    bottom: -17%;
  }
}