.first-block {
    &__content {
        padding: 39px 0 55px 0;
        position: relative;
        color: #fff;
        display: flex;
        flex-direction: column;
    }
    &-text {
        text-align: center;
    }
    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
        margin: 0 0 20px 0;
    }
    &-subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22.4px;
        margin: 0 0 55px 0;
        opacity: 0.8;
    }
    &-button {
        display: inline-block;
        height: 60px;
        line-height: 12px;
        padding: 22px 79px 26px 79px;
        border: 2px solid #f14d34;
        border-radius: 5px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.06em;
        margin-bottom: 50px;
        &:hover {
            background: #f14d34;
            transition: background 0.3s;
        }
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card {
            background: transparent;
            flex-basis: 40%;
            height: 80px;
            box-sizing: content-box;
            border-left: 3px solid #f14d34;
            padding-left: 10px;
            margin: 0 0 30px 0;
            &-title {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                margin: 0 0 4px 0;
            }
            &-subtitle {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                opacity: 0.7;
            }
            &:first-child {
                align-self: center;
                .card-title {
                    font-size: 48px;
                    line-height: 29px;
                }
            }
            &:nth-child(n) {
                align-self: center;
            }
            &:nth-child(n + 4) {
                align-self: flex-end;
            }
        }
    }
}
@media screen and(min-width:767px) {
    .first-block {
        &__header-container {
            padding: 0 0 0 50px;
        }
        &-text {
            text-align: unset;
            margin-right: 110px;
        }
        &__content {
            padding: 140px 0 154px 0;
            flex-direction: unset;
        }
        &-title {
            font-size: 52px;
            line-height: 60px;
            margin: 0 0 15px 0;
        }
        &-subtitle {
            font-size: 18px;
            line-height: 28px;
        }
        &-button {
            margin-bottom: 0;
        }
        &-cards {
            //align-self: center;
            .card {
                flex-basis: 30%;
                margin: 0;
            }
        }
    }
}
