ol,ul{
    padding: 0;
}
.first-block {
    &__header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #424242;
    }

    &__header-container {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        flex-wrap: wrap;
    }

    &__header-body {
    }

    &__header-logo {
        z-index: 5;
    }

    &__header-menu {
        font-family: "Ubuntu", sans-serif;
        color: #fff;
        font-size: 12px;
        line-height: 22px;
        font-weight: 400;
        white-space: nowrap;
    }
}
.__invisible {
    display: none;
}
.__active {
    display: block;
}
.menu {
    &__arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #fff;
        margin: 0 0 0 5px;
    }
    &__icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        &::before,
        &::after,
        span {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            background-color: #fff;
        }
        &::before,
        &::after {
            content: "";
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: 8px;
        }
    }
    &__body {
        position: fixed;
        top: 8%;
        left: 0;
        width: 100%;
        height: 85%;
        background-color: #424242;
        overflow: auto;
    }

    &__list {
        li.__active .menu__sublist {
            display: block;
        }
        & > li {
            > a {
                padding: 8px 20px;
                display: block;
                border-bottom: 1px solid #312a2a;
            }
        }
    }

    &__link {
    }

    &__sublist {
        position: relative;
        li:last-child {
            box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.404);
        }
    }
    &__sublink {
        padding: 8px 20px 8px 35px;
        display: block;
        border-bottom: 1px solid #312a2a;
    }
}
@media screen and (min-width: 767px) {
    .end-of-menu {
        display: none;
    }
    .__invisible {
        display: block;
    }
    .first-block {
        &__header {
            background: none;
            position: relative;
            &-container {
                justify-content: unset;
                padding: 0;
            }
            &-logo {
                margin: 0 61px 0 0;
            }
        }
    }
    .menu {
        &__body {
            position: relative;
            background-color: transparent;
            overflow: unset;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            & > li {
                > a {
                    padding: 0;
                }
                a {
                    border: 0;
                }
                .link__border {
                    border: 0;
                }
                &:not(:last-child) {
                    margin-right: 30px;
                }
                &:hover {color: #fff;
                    border-bottom: 5px solid #f04d35;
                    transition: border 0.09s;
                    .menu__sublist {
                        visibility: visible;
                        pointer-events: all;
                    }
                }
            }
        }
        &__sublist {
            position: absolute;
            min-width: 160px;
            top: 83%;
            left: 9;
            background-color: #f04d35;
            padding: 9px 0;
            li:last-child {
                box-shadow: none;
            }
            & > li {
                white-space: nowrap;
            }
        }
        &__sublink {
            display: block;
            padding: 0 20px;
            &:hover {
                background-color: #d13018;
            }
        }
        &__sublist {
            visibility: hidden;
            pointer-events: none;
        }
        &__icon {
            display: none;
        }
    }
}
